@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.navbar-custom {
    background: linear-gradient(270deg, #ff0080, #dd2900, #ffdd00, #0080ff);
    background-size: 800% 800%;
    animation: gradientAnimation 10s ease infinite;
    padding: 20px 0;
}

.navbar-custom .navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-custom .navbar-brand img {
    border-radius: 100%;
    padding: 10px;
    animation: bounceIn 1s ease-in-out;
}

.navbar-custom .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar-custom .nav-link {
    color: #fff;
    margin: 0 15px;
    font-weight: bold;
    font-size: 1.2em;
}

.navbar-custom .nav-link:hover {
    color: #ffee00;
}

li, a {
    text-decoration: none;
    list-style: none;
}