.navbar-custom .nav-link {
    color: #ffd700;
    margin-left: 10px;
    transition: color 0.3s, transform 0.3s;
    animation: fadeIn 1.5s ease-in-out;
}

.navbar-custom .nav-link:hover {
    color: #87ceeb;
    transform: scale(1.1);
}

main {
    padding: 50px 0;
    text-align: center;
}

main h1 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #eeff00;
    transition: color 0.3s;
}

main h1:hover {
    color: #ffd700;
}

.btn-primary,
.btn-outline-primary {
    font-weight: bold;
    font-size: 18px;
    padding: 15px;
    background-color: #87ceeb;
    border-color: #87ceeb;
    color: #000000;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-primary:hover,
.btn-outline-primary:hover {
    background-color: #4682b4;
    border-color: #4682b4;
    color: #ffffff;
    transform: translateY(-3px);
}

footer {
    background-color: #000000;
    color: #ffd700;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
}

.footer-link {
    color: #ffd700;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
}

.footer-link:hover {
    color: #87ceeb;
}

footer p {
    margin: 0;
}

footer a {
    color: #ffd700;
    transition: color 0.3s;
}

footer a:hover {
    text-decoration: none;
    color: #87ceeb;
}

@keyframes slideIn {
    from {
        transform: translateY(-100px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }

    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        transform: scale3d(.9, .9, .9);
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        transform: scale3d(.97, .97, .97);
    }

    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
